go 1.23

use (
	./servlets/amadeus-flight-api
	./servlets/brave-search
	./servlets/crypto-hash
	./servlets/github
	./servlets/google-calendar
	./servlets/google-maps-image
	./servlets/historical-flight-api
	./servlets/tenor-gifs
	./servlets/wordpress
	./test/testsuite
)
